<div class="row">
    <div class="col-12 product-label">
        {{ product.label ~ '. ' }}
        <span class="product-labelstate">
             {{ 'price_comparison.label_state'|trans({},'label', locale) ~ ' : ' }}
        </span>
        <span class="product-state">
            {{ product.getTranslationLabel|trans({},'label', locale) }}
        </span>
    </div>

    <div class="col-12 product-price-label">
        {{ 'product.price'|trans({},'label', locale) ~ ' : ' }}
        <span class="product-price">
            {{ price ~ ' ' ~ euro_symbol }}

                <span class="comment-comparison">
                {% if (product.state == stateCompare) %}
                    {{
                    'price_comparison.comment_comparison'|trans({},'label', locale) ~ ' ' ~
                    'price_comparison.stateequal'|trans({},'label', locale)
                    }}
                {% elseif (product.state < stateCompare) %}
                    {{
                    'price_comparison.comment_comparison'|trans({},'label', locale) ~ ' ' ~
                    'price_comparison.statebest'|trans({},'label', locale)
                    }}
                {% else %}
                    {{
                    'price_comparison.comment_comparison'|trans({},'label', locale) ~ ' ' ~
                    'price_comparison.stateless'|trans({},'label', locale)
                    }}
                {% endif %}
                </span>
        </span>
    </div>

    <div class="col-12 product-price-label">
        {{ 'price_comparison.min_price'|trans({},'label', locale) ~ ' : ' }}
        <span class="product-price">
            {{ minPrice ~ ' ' ~ euro_symbol }}
        </span>
    </div>
</div>
