{% extends "base.html.twig"  %}

{% block title %} Commerce entre équipes de football {% endblock %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="card-body">
                        <div class="table-responsive" id="table-responsive">
                            <table id="basic">
                                <thead>
                                <tr>
                                    <th>Nom de l'équipe</th>
                                    <th>Pays</th>
                                    <th>Solde d'argent</th>
                                    <th>Joueurs</th>
                                    <th>Propriétaire de l'équipe</th>
                                    {% if login %}
                                    <th>Actions</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for team in teams %}
                                    <tr>
                                        <td>{{ team.name }}</td>
                                        <td>{{ team.country }}</td>
                                        <td>{{ team.moneyBalance|number_format(2, ',', '.') ~ ' ' ~ euro_symbol }}</td>
                                        <td>
                                            {% for player in team.players %}
                                                {{ '- ' ~ player.name ~ ' ' ~ player.surname }} <br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ team.owner }}</td>
                                        {% if login %}
                                        <td>
                                            {% if team.owner == login  %}
                                                <a class="btn btn-primary" href="{{ path('get_team', { id: team.id }) }}" role="button">
                                                    Ajouter un joueur
                                                </a>
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      let myTable = new JSTable("#basic",
        {
          labels: {
            placeholder: "Rechercher une équipe...",
            perPage: "{select} équipes par page",
            noRows: "Aucune équipe trouvée",
            info: "Affichage {start} à {end} de {rows} équipe",
            loading: "Chargement...",
            infoFiltered: "Affichage {start} à {end} de {rows} équipes (affichage sur {rowsTotal} équipes)"
          }
        }
      );
    </script>

{% endblock %}
